<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'report_list' %}">
            Arlington Estate
        </a>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <!-- Public Links -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'report_list' %}">
                        All Reports
                    </a>
                </li>

                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_report' %}">
                            Create Report
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resident_dashboard' %}">
                            My report
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">
                            Analytics
                        </a>
                    </li>

                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link text-warning fw-bold"
                        href="{% url 'admin:index' %}">
                            Admin control
                        </a>
                    </li>
                    {% endif %}
                    
                    <li class="nav-item">
                        <span class="nav-link text-warning">
                            Welcome {{ user.username }}
                        </span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{% url 'logout' %}">
                            Logout
                        </a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            Login
                        </a>
                    </li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>
