/* reporting/static/reporting/css/dashboard.css */

/* Cards styling */
.card {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Table styling */
.table {
    border-radius: 8px;
    overflow: hidden;
}

.table th {
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

.table td {
    vertical-align: middle;
    text-align: center;
}

.img-thumbnail {
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.img-thumbnail:hover {
    transform: scale(1.2);
}

/* Buttons */
.btn-success {
    border-radius: 8px;
}

.container h2,
.container h4 {
    margin-bottom: 20px;
}


/* // main dashboard */
.stat-card {
    border-radius: 14px;
    transition: all 0.2s ease-in-out;
}

.stat-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
}